.header {
    background-color: #1B262C;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
}

p {
    font-family: 'Noto Serif', serif;
    font-size: 32px;
    margin-bottom: 0px;
}